<section class="todoapp">
  <header class="header">
    <h1>Login!</h1>
    <%= form_tag(sessions_path) do %>
      <%= text_field_tag :email, '',  class: "new-todo", placeholder: "Login with your email" %>
      <%= text_field_tag :password, '', class: "new-todo", placeholder: "Choose a password" %>
      <%= submit_tag %>
    <% end %>  

    <%= link_to "Login via GitHub", "/auth/github" %>
  </header>
  <footer class="footer">

  </footer>
</section>